@tailwind base;
@tailwind components;
@tailwind utilities;

/* NextJS boilerplate theme */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.no-scroll {
  overflow: hidden;
}

.dotted-div {
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.312) 1px, transparent 1px);
  background-size: 20px 20px;
 }
 
